[submodule "pet/Autism_Prediction"]
	path = pet/Autism_Prediction
	url = https://github.com/KiZlador/ASD_pred.git
[submodule "pet/Diabet_prediction"]
	path = pet/Diabet_prediction
	url = https://github.com/KiZlador/Diabet_predictor
[submodule "pet/Face_marker"]
	path = pet/Face_marker
	url = https://github.com/KiZlador/Face_marker
[submodule "pet/Movies_RecSys"]
	path = pet/Movies_RecSys
	url = https://github.com/KiZlador/Movies_RecSys.git
[submodule "pet/Sales_prediction"]
	path = pet/Sales_prediction
	url = https://github.com/KiZlador/Sales_pred
[submodule "uni/polyedr68"]
	path = uni/polyedr68
	url = https://github.com/KiZlador/polyedr68
[submodule "uni/polyedr_zkd003"]
	path = uni/polyedr_zkd003
	url = https://github.com/KiZlador/polyedr_zkd003
[submodule "uni/variable_stars"]
	path = uni/variable_stars
	url = https://github.com/KiZlador/variable_stars
[submodule "school21/DS_Bootcamp/Day03"]
	path = school21/DS_Bootcamp/Day03
	url = https://github.com/KiZlador/DS_Day03
[submodule "school21/DS_Bootcamp/Day04"]
	path = school21/DS_Bootcamp/Day04
	url = https://github.com/KiZlador/DS_Day04
[submodule "school21/DS_Bootcamp/Team00"]
	path = school21/DS_Bootcamp/Team00
	url = https://github.com/KiZlador/DS_Team00
[submodule "school21/DS_Bootcamp/Day05"]
	path = school21/DS_Bootcamp/Day05
	url = https://github.com/KiZlador/DS_Day05
[submodule "school21/DS_Bootcamp/Day06"]
	path = school21/DS_Bootcamp/Day06
	url = https://github.com/KiZlador/DS_Day06
[submodule "school21/DS_Bootcamp/Day07"]
	path = school21/DS_Bootcamp/Day07
	url = https://github.com/KiZlador/DS_Day07
[submodule "school21/DS_Bootcamp/Day08"]
	path = school21/DS_Bootcamp/Day08
	url = https://github.com/KiZlador/DS_Day08
[submodule "school21/ML/ML01"]
	path = school21/ML/ML01
	url = https://github.com/KiZlador/ML1
[submodule "school21/ML/ML02"]
	path = school21/ML/ML02
	url = https://github.com/KiZlador/ML2
[submodule "school21/ML/ML03"]
	path = school21/ML/ML03
	url = https://github.com/KiZlador/ML3
[submodule "school21/ML/ML04"]
	path = school21/ML/ML04
	url = https://github.com/KiZlador/ML4
[submodule "school21/BSA/BSA00"]
	path = school21/BSA/BSA00
	url = https://github.com/KiZlador/BSA00
[submodule "school21/BSA/BSA01"]
	path = school21/BSA/BSA01
	url = https://github.com/KiZlador/BSA01
[submodule "school21/BSA/BSA02"]
	path = school21/BSA/BSA02
	url = https://github.com/KiZlador/BSA02
[submodule "school21/DS_Bootcamp/Day02"]
	path = school21/DS_Bootcamp/Day02
	url = https://github.com/KiZlador/DS_Day02
	branch = master
